@model AudioLibrary.Models.TrackViewModel


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.Display("Author name:")
        </dt>

        <dd>
            @ViewBag.Author.AuthorName
        </dd>
    </dl>
</div>
