@model IEnumerable<AudioLibrary.Models.TrackViewModel>


<script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
<p>
   @using (Html.BeginForm("Upload", "HomeController"))
   {
    <button type="submit">Upload</button>
   }
</p>
<div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrackName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>

            <td>
                <div class="rating" >
                    @{  for (int i = 1; i <= 5-item.TrackRateAverage; i++)
                        {
                            var str = 6 - i;
                    <span ><input type="radio" name="rating" id=@str value=@str ><label for=@str></label></span>
                        }
                        for (int i = 6 - item.TrackRateAverage; i <= 5; i++)
                        {
                            var str = 6 - i;
                            <span class="checked"><input type="radio" name="rating" id=@str value=@str ><label for=@str></label></span>
                        }
                    <input type="hidden" value=@item.TrackID id="trackid" name="Id"/>
                        }
                </div>
                @if (Request.IsAuthenticated && User.Identity.Name == "administrator")
                {
                @Html.ActionLink("Edit", "Edit", new { });
                }
                @Html.ActionLink("Details", "Details", "Tracks", new { id = item.TrackID }, new { @class = "viewDialog", data_dialog_title = "Details" })
                @if (Request.IsAuthenticated && User.Identity.Name == "administrator")
                {
                @Html.ActionLink("Delete", "Delete", new { })
                }
            </td>
            <td>
                <audio width="400" height="300" controls src=@item.TrackAddress style="color:orange"></audio>
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        width: 450,
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true
                    })
                    .load(this.href);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Check Radio-box
            

            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
                var trackRate = this.value;
                var trackId = $('input#trackid').val()

                $.ajax({
                    url: '/Home/PostTrackRate',
                    type: "POST",
                    data: { rate: trackRate, id: trackId },
                    success: function (response) {
                        if (response != null && response.success) {
                            alert(response.responseText);
                        } else {
                            alert(response.responseText);
                        }
                    },
                    error: function (response) {  
                    }
                });
             
            });
            
        });
    </script>
}

